/* General Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Header Styling */
header {
	background-image: url('images/floatingBooksImage.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	
	overflow: visible;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

header::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.38);
	z-index: 0;
}

header.mainscreen {
	min-height: 400px;
	max-height: 600px;
	width: 100%;
}

header h1 {
	color: white;
	font-size: clamp(20px, 10vw, 90px);
	margin-bottom: 40px;
	white-space: nowrap;
	font-family: "Merriweather", serif;
	font-weight: 900;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
	position: relative;
}

header.subscreen {
	min-height: 150px;
	max-height: 300px;
	width: 100%;
	position: relative;
}

header.subscreen h1 {
	font-size: clamp(20px, 10vw, 70px);
}


/* NAVIGATION BAR */
nav.main {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.62);
	z-index: 1;
}

nav.main ul {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 40px;
	padding: 0;
	margin: 0;
}

nav.main ul li {
	position: relative;
}

nav.main ul li a {
	font-size: clamp(5px, 5vw, 22px);
	color: white;
	text-decoration: none;
	font-family: "Merriweather", serif;
	font-weight: 700;
	padding: 10px 15px;
	display: block;
}

/* Hover effect */
nav.main ul li a:hover {
	color: #d6d6d6;
}

/* Dropdown Menu */
nav.main li ul.dropdown {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	
	white-space: normal;
	word-break: break-word;
	
	min-width: clamp(150px, 40vw, 700px);
	max-width: 90vw;
	
	z-index: 999;
	flex-direction: column;
}

nav.main ul li:hover > .dropdown {
	display: block;
}

nav.main li ul.dropdown li {
	width: 100%;
	background-color: rgba(235, 235, 235, 0.9);
}

nav.main li ul.dropdown a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	white-space: normal;
	word-break: break-word;
	
	font-size: clamp(5px, 5vw, 16px);
}

nav.main li ul.dropdown a:hover {
	background-color: rgba(220, 220, 220, 0.9);
}

/*BODY SETTINGS*/
.subStories{
	background-color: #fafafa;
	
	overflow: hidden;	
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;

	font-size: clamp(5px, 3vw, 25px);
}

.writingSection{
	background-color: #ffffff;
	padding-top: 1em;

	width: 100%;
	min-height: 100vh;
}

/*TITLES ON STORY PAGE*/
h2.storyTitle{
	text-align: center;
	font-weight: 800;
	font-size: clamp(5px, 6vw, 45px)
}

h3.storyAuthor{
	text-align: center;
	font-weight: 600;
	font-size: clamp(5px, 3vw, 28px);

	margin-top: 0.25em;
}

/*DIVIIDER*/
.subStories .divider{
	height: .5em;
	background-image:linear-gradient(to bottom, #fafafa, #f0f0f0);
		

	margin-top: 0em;
	margin-bottom:0em;
	width: 100%;
	
	display: block;
	margin-left:auto;
	margin-right: auto;
}

/*IMAGE CAPTIONS*/
.imageWithCaption figcaption{
	font-size: clamp(1px, 1vw, 12px);
	font-family: "Fira Sans Condensed", sans-serif;
	font-weight: 300;
	color: #444;
	text-align: center;
	padding-top:.4em;
}

.imageWithCaption{
	display: inline-flex;
	flex-direction: column;
	flex-shrink: 0;

	margin-right: 1em;
	margin-bottom: .5em;
	align-items: flex-start;

}

/*WRITING FORMAT*/
.writing{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	
	text-align: left;
	font-family: "Fira Sans Condensed", sans-serif; 
	font-size: clamp(5px, 3vw, 23px);
}

.ovidStoryWriting{
	padding-top: 2em;
	display: flex;
	align-items: flex-start;
	
}

.ovidStoryImage{
	width: auto;
	height: auto;
	max-width: clamp(5px, 30vw, 400px);
	
}

.ovidStoryWritingText{
	display: flex;
	flex-direction: column;
}

.ovidStoryWritingText h4{
	font-weight: 600;
	margin-bottom: 0.5em;
}

.ovidStoryWritingText p{
	margin-top:0;
	margin-left:0.5em;
}

.ovidStoryWritingText .quote{
	margin-top: 1em;
	margin-bottom: 0.5em;

	font-family: "Merriweather", serif;
	font-weight: 300;
	font-size: clamp(5px, 3vw, 21px);
	font-style: italic;
	
	
}